*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(199, 229, 232);
}
.nav{
    padding: 40px 70px 5px 50px;
}
.nav-bran ul{
    float: right;
}
.nav-bran ul li{
    display: inline-block;
}

.bran{
    text-decoration: none;
    font-size: 24px;
    color: rgb(23, 208, 214);
}

.nav-bran ul li a{
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    color: black;
}

.nav-bran ul li a:hover{
    letter-spacing: 5px;
    color: rgb(43, 207, 207);
    transition: 0.7s;
}
.noti{
    color: white;
    background-color: black;
}
  /*end nav*/
.img{
    width: 100%;
    margin-top: 30px;
}
.blog{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 50px;
    position: absolute;
    top: 500px;
    }

    .blog div a img{
        width: 100%;
        border-radius: 10px 10px 0px 0px;
        transition: 0.6s ease;
    }
.new{
    width: 100%;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
}

.blog div{
    box-shadow: -5px 5px 4px rgb(179, 171, 171);
}

.blog div a :hover{
    transform: scale(1.5);
}
.blog div p{
    text-align: justify;
    padding: 10px;
}
.text{
    position: absolute;
    top: 400px;
    left:60px ;
   
}

.emty{
    height: 1000px;
}
  /* footer start */
footer{
    margin-top: 70px;
    height: 400px;
    background-color: rgb(27, 26, 26);
}

.lin{
    display: inline-block;
}
.lin ul li a{
    text-decoration: none;
    color: gray;
    font-size: 20px;

}

.lin ul li{
    padding: 10px;
}
.lin ul{
    padding-top: 50px;
    margin-left: 70px;
}
.con{
    float: right;
    padding-top: 50px;
    padding-right: 50px;
}
.con .ph{
    font-size: 34px;
    text-decoration: none;
    color: white;
    padding-right: 30px;
}
.con a{
    text-decoration: none;
    color: gray;
}
.con p{
    color: gray;
    padding-top: 10px;
}
.logo{
    color: white;
    padding-top: 15px;
    padding-left: 10px;
}